/* background : #404eed */
@font-face {
    font-family: 'GG Sans';
    src: url('./gg-sans-2/gg\ sans\ Regular.ttf') format('truetype');
}

body {
    font-family: 'GG Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ggsans,sans-serif;
}
body , html{
    width: 100%;
    height: 100%;
}
.header{    
    background:#404eed ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.navbar{
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 140px;
}
#navlinks{
    display: flex;
    list-style: none;
}
#navlinks>li>a{
    text-decoration: none;
    color: white;
    padding: 0 1rem;
    font-size: 15px;
    font-weight: 600;
}
#button1{
    padding: 10px 15px;
    border-radius: 1rem;
    border: none;
    outline: none;
    color: black;
    font-weight: 600;
    background: white;
}
.top-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.top-text{
    text-align: center;
    width: 60%;
}
#top-heading{
    font-size: 5vmax;
    color: white;
    font-weight: 900;
}
#top-para{
    font-size: 19px;
    color: white;
    font-weight: 100;
    margin-bottom: 1rem;
}
#top-buttons>button{
    font-size: 1.4vmax;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
}
#download-btn{
    color: #23272a;
    transition:all 0.5s;
}
#download-btn:hover{
    color: #404eed;
}
#open-btn{
    background: #23272a;
    color: white ;
    transition:all 0.5s;
}
#open-btn:hover{
    background-color: #33393d;
}
#chicken, #chill{
    width: 40vw;
    position: absolute;
}
#chicken{
    position: absolute;
    right:0 ;
    bottom: 0;
}
#chill{
    position: absolute;
    left: 0;
    bottom: 0%;
}