/* background : #404eed */
@font-face {
    font-family: 'GG Sans';
    src: url('./gg-sans-2/gg\ sans\ Regular.ttf') format('truetype');
}

body {
    font-family: 'GG Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ggsans,sans-serif;
}
body , html{
    width: 100%;
    height: 100%;
}
.header{    
    background:#404eed ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.navbar{
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 140px;
}
#navlinks{
    display: flex;
    list-style: none;
}
#navlinks>li>a{
    text-decoration: none;
    color: white;
    padding: 0 1rem;
    font-size: 15px;
    font-weight: 600;
}
#button1{
    padding: 10px 15px;
    border-radius: 1rem;
    border: none;
    outline: none;
    color: black;
    font-weight: 600;
    background: white;
}
.top-content{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    height: 100%;

}
.top-text{
    text-align: center;
    width: 60%;
    z-index: 1;
}
#top-heading{
    font-size: 5vmax;
    color: white;
    font-weight: 900;
}
#top-para{
    font-size: 19px;
    color: white;
    font-weight: 100;
    margin-bottom: 1rem;
}
#top-buttons>button{
    font-size: 1.4vmax;
    padding: 1rem 1.4rem;
    margin: 0 10px;
    border-radius: 2rem;
    border: none;
    outline: none;
}
#download-btn{
    color: #23272a;
    transition:all 0.5s;
}
#download-btn:hover{
    color: #404eed;
}
#open-btn{
    background: #23272a;
    color: white ;
    transition:all 0.5s;
}
#open-btn:hover{
    background-color: #33393d;
}
#chicken, #chill{
    width: 40vw;
    position: absolute;
}
#chicken{
    position: absolute;
    bottom: 0;
}
#chill{
    position: absolute;
    bottom: 0%;
    right:0;
}
.part{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#right1{
    width: 30%;
    margin-left: 3rem;
}
.part2{
    background-color: #f6f6f6;
    padding: 6rem;
    
}
#left2{
    width: 30%;
}
#study-img{
    width: 45vmax;
}
#part-heading{
    font-size: 3.4vmax;
    color: rgba(0, 0, 0, 0.836);
}
#part-para{
    color: rgb(59, 59, 59);
    margin: 2rem 0;
    font-size: 1.5vmax;
    line-height: 2vmax;
}
.part3{
    padding: 3rem;
}
#right3{
    width: 30%;
    margin-left: 5rem;
}
.last-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#f6f6f6 ;
    padding: 5rem;
}
.last-heading{
    width:70%;
}
/* #big-image{
    width: 120%;
} */
#last-section-heading{
    font-size: 3vmax;
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 2rem;
}
#last-section-para{
    font-size: 1.2vmax;
}
.journey{
    width: 100%;
    height: 15vmax;
    background: url(./background-stars.svg)center no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#journey-heading{
    font-size: 2.3vmax;
    color: #23272aea;
    font-weight: 800;
}
.journey>#download-btn{
    font-size: 1.4vmax;
    padding: 1rem 1.4rem;
    margin:2rem 0;
    border-radius: 2rem;
    background: #404eed;
    color: white;
    border: none;
    outline: none;
}
.journey>#download-btn:hover{
    background:#404eedd2;
    box-shadow:0 5px 10px 2px #9e9393;
}
.footer{
    background-color: #23272a;
}
.links-section{
    padding: 5rem;
    display: grid;
    grid-template-columns: 400px repeat(4, 1fr);
    grid-template-rows: 1fr;
    color: white;
}
ul{
    list-style: none;
    line-height: 2rem;
}
ul>li>a{
    text-decoration: none;
    color: white;
}
h4{
    color: #404eed;
    margin-bottom: 1.5rem;
}
.icons{
    padding-right: 3rem;
}
.icons>i{
    color: white;
    font-size: 2rem;
    margin: 0 0.2rem;

}
hr{
    margin:3rem;
    width: 90%;
    background-color: #404eed;
    color: #404eed;
}
#discord-logo{
    fill: #404eed;
    width: 200px;
    margin-left: 2rem;
}